:root {
    --primary-color: #FFBB5C;
    --secondary-color: #FF9B50;
    --tertiary-color: #E25E3E;
    --quaternary-color: #C63D2F;
}

.container {
    margin: 1em;
}

button {
    padding: .8em;
    margin: .9em 0;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    box-shadow: 0 .7em #999;
    width: 100%;
}

button:hover, button:active {
    background-color: var(--tertiary-color);
}

button:active {
    box-shadow: 0 .3em #666;
    transform: translateY(.4em);
}